* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 100%; }

body {
  margin: 0;
  min-height: 600px;
  background-color: #8C0002;
  background-image: url(../images/img-noise-361x370.png);
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #FCFEE5; }

main {
  height: 100%;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300; }

h1 {
  margin: 10px 0; }

table {
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: center; }

td {
  width: 50%;
  height: 1.5rem; }

button {
  display: inline-block;
  padding: 5px;
  width: 49%;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background: #FCFEE5;
  color: #060605;
  border: 4px solid #BA7619;
  outline: none; }

button:hover {
  cursor: pointer;
  text-decoration: underline; }

button:active {
  outline: none; }

button[disabled],
button[disabled]:hover {
  border: 4px solid #8C0002;
  color: transparent;
  text-shadow: 0 0 5px rgba(6, 6, 5, 0.5);
  cursor: default;
  text-decoration: none;
  position: relative; }

button[disabled]::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #060605;
  opacity: 0.3; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf::after {
  content: "";
  display: block;
  clear: both; }

.positive {
  color: #2ff31c; }

.negative {
  color: #FB0007; }

.container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around; }

.messages {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center; }

.dealer,
.player {
  width: 50%;
  height: 326px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.hand-div {
  width: 100%;
  text-align: center; }

.dealer-hand,
.player-hand {
  margin: 0 auto;
  position: relative;
  height: 200px;
  width: 80%; }

.card {
  height: 100%;
  position: absolute;
  right: -50%; }

.card-dd {
  transform: rotate(45deg);
  left: 40px !important; }

.card:first-child {
  left: 0; }

.card:nth-child(2) {
  left: 40px; }

.card:nth-child(3) {
  left: 80px; }

.card:nth-child(4) {
  left: 120px; }

.card:nth-child(5) {
  left: 160px; }

.card:nth-child(6) {
  left: 200px; }

.card:nth-child(7) {
  left: 240px; }

.card:nth-child(8) {
  left: 280px; }

.card:nth-child(9) {
  left: 320px; }

.action-wrap {
  margin: 0 auto;
  width: 80%; }

.betting,
.game-actions {
  width: 50%;
  float: left; }

.actions .container,
.money .container {
  margin: 0 auto;
  max-width: 400px;
  width: 80%; }

.deal {
  margin: 0 auto;
  display: block;
  width: 100%; }

.row {
  margin-bottom: 5px;
  position: relative; }

.money h3 {
  display: inline-block; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  z-index: 2; }

.modal-guts {
  position: absolute;
  background: #FCFEE5;
  color: #060605;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.modal-overlay {
  position: absolute;
  background: #060605;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5; }

.hide {
  display: none; }

/*-------------------------------
MEDIA QUERIES
-------------------------------*/
@media screen and (min-width: 768px) {
  html {
    font-size: 125%; } }
@media screen and (min-width: 960px) {
  .container {
    width: 80%; }

  .dealer-hand,
  .player-hand {
    height: 200px; }

  .card {
    height: 100%;
    position: absolute;
    right: -50%; }

  .card-dd {
    left: 50px !important; }

  .card:first-child {
    left: 0; }

  .card:nth-child(2) {
    left: 50px; }

  .card:nth-child(3) {
    left: 100px; }

  .card:nth-child(4) {
    left: 150px; }

  .card:nth-child(5) {
    left: 200px; }

  .card:nth-child(6) {
    left: 250px; }

  .card:nth-child(7) {
    left: 300px; }

  .card:nth-child(8) {
    left: 350px; }

  .card:nth-child(9) {
    left: 400px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 70%; }

  .dealer-hand,
  .player-hand {
    height: 250px;
    width: 80%; } }
@media screen and (min-width: 1600px) {
  html {
    font-size: 150%; }

  button {
    padding: 15px; }

  .messages {
    height: 75px; }

  .dealer-hand,
  .player-hand {
    height: 300px;
    width: 60%; }

  .card-dd {
    left: 70px !important; }

  .card:first-child {
    left: 0; }

  .card:nth-child(2) {
    left: 70px; }

  .card:nth-child(3) {
    left: 140px; }

  .card:nth-child(4) {
    left: 210px; }

  .card:nth-child(5) {
    left: 280px; }

  .card:nth-child(6) {
    left: 350px; }

  .card:nth-child(7) {
    left: 420px; }

  .card:nth-child(8) {
    left: 490px; }

  .card:nth-child(9) {
    left: 560px; }

  .action-wrap {
    width: 70%; } }

/*# sourceMappingURL=output.css.map */
