@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:200,300,400');

// =================
// TYPOGRAPHY
// =================

$font: 'Ek Mukta', sans-serif;


// =================
// COLORS
// =================

$black: #060605;
$white: #FCFEE5;
$brown: #BA7619;
$gray: #787878;
$darkRed: #8C0002;
$red: #FB0007;

$positive: #2ff31c;
$negative: #FB0007;


// =================
// TRANSITIONS
// =================

$transition-in-out: 500ms all ease-in-out;
$transition-in: 300ms all ease-in;
$transition-out: 300ms all ease-out;