// =================
// VARIABLES
// =================

// Typography

$font: 'Mukta', Helvetica, 'Trebuchet MS', Arial, sans-serif;


// Z-index

$z-index: (
	positive: 1,
	neutral: 0,
	negative: -1
);


// Colors

$black: #060605;
$white: #FCFEE5;
$brown: #BA7619;
$gray: #787878;
$dark-red: #8C0002;
$red: #FB0007;

$positive: #2ff31c;
$negative: #FB0007;