@import 'variables';

// =================
// CARD
// =================

.card {
	position: absolute;
	height: 100%;
	transition: $transition-out;
	// transform: translateY(-300%);

	@for $i from 1 through 9 {
		$width: 5rem * $i;
		&:nth-child(#{$i}) {
			left: $width;
		}
	}

	&-dd {
		transform: rotate(45deg);
		left: 10rem !important;
	}

	&-animation {
		transform: translateY(0);
	}
}

.points {
	margin-top: 1rem;
}
