$red: #FB0007;
$darkRed: #8C0002;
$white: #FCFEE5;
$black: #060605;
$brown: #BA7619;
$gray: #787878;

$positive: #2ff31c;
$negative: #FB0007;
// $neutral:

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 80%;
}

body {
  margin: 0;
  min-height: 550px;
  background-color: $darkRed;
  // background-image: url(../images/img-noise-361x370.png);
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: $white;
}

main {
  height: 100%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

h1 {
  margin: 10px 0;
}

table {
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

td {
  width: 50%;
  height: 1.5rem;
}

button {
  display: inline-block;
  padding: 5px;
  width: 49%;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background: $white;
  color: $black;
  border: 4px solid $brown;
  outline: none;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:active {
  outline: none;
}

button[disabled],
button[disabled]:hover {
  border: 4px solid $darkRed;
  color: transparent;
  text-shadow: 0 0 5px rgba(6,6,5,0.5);
  // opacity: 0.7;
  cursor: default;
  text-decoration: none;
  position: relative;
}

button[disabled]::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0.3;
}

.fl { float: left; }
.fr { float: right; }

.cf::after {
  content: "";
  display: block;
  clear: both;
}

.positive { color: $positive; }
.negative { color: $negative; }
// .neutral { color: $neutral; }

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.messages {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  position: relative;
}

.title-screen {
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
}

  .title-screen h1 {
    font-size: 5rem;
  }

  .title-screen .instructions {
    width: 50%;
    float: left;
  }

.dealer,
.player {
  width: 100%;
  height: 160px;
}

.dealerHand-div,
.playerHand-div {
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
}

.dealer-hand,
.player-hand {
  margin: 0 auto;
  position: relative;
  height: 110px;
  width: 70%;
}

.currentHand::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  border-radius: 10px;
  background: #fff;
}

.card {
  height: 100%;
  position: absolute;
  right: -50%;
}

.card-dd {
  transform: rotate(45deg);
  left: 40px !important
}

.card:first-child { left: 0; }
.card:nth-child(2) { left: 40px; }
.card:nth-child(3) { left: 80px; }
.card:nth-child(4) { left: 120px; }
.card:nth-child(5) { left: 160px; }
.card:nth-child(6) { left: 200px; }
.card:nth-child(7) { left: 240px; }
.card:nth-child(8) { left: 280px; }
.card:nth-child(9) { left: 320px; }

.card.split {
  left: 0;
}

.card.split:nth-child(2) { left: 10px; }
.card.split:nth-child(3) { left: 20px; }
.card.split:nth-child(4) { left: 30px; }
.card.split:nth-child(5) { left: 40px; }
.card.split:nth-child(6) { left: 50px; }
.card.split:nth-child(7) { left: 60px; }
.card.split:nth-child(8) { left: 70px; }
.card.split:nth-child(9) { left: 80px; }

.action-wrap {
  margin: 0 auto;
  width: 95%;
}

.betting,
.game-actions {
  width: 50%;
  float: left;
}

.actions .container,
.money .container {
  margin: 0 auto;
  max-width: 400px;
  width: 80%;
}

.deal {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.row {
  margin-bottom: 5px;
  position: relative;
}

.money h3 {
  display: inline-block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  max-height: 500px;
  height: 90%;
  width: 90%;
  z-index: 2;
}

.modal-guts {
  position: absolute;
  background: $white;
  color: $black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: absolute;
  background: $black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

.hide {
  display: none;
}



/*-------------------------------
MEDIA QUERIES
-------------------------------*/

@media screen and (min-width: 480px) {

  html {
    font-size: 100%;
  }

  body {
    min-height: 600px !important;
  }

  .container {
    width: 90%;
  }

  .action-wrap {
    width: 90%;
  }

  .dealer-hand,
  .player-hand {
    height: 150px;
    width: 50%;
  }

}


@media screen and (min-width: 768px) {

  html {
    font-size: 125%;
  }

  body {
    min-height: 700px;
  }

  .dealer,
  .player {
    height: 200px;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
  }

  .dealer-hand,
  .player-hand {
    height: 200px;
    width: 90%;
  }

  .action-wrap {
    margin: 0 auto;
    width: 80%;
  }

}

@media screen and (min-width: 960px) {

  .container {
    width: 80%;
  }

  .dealer-hand,
  .player-hand {
    height: 200px;
    width: 80%;
  }

}

@media screen and (min-width: 1200px) {

  body {
    min-height: 950px;
  }

  .container {
    width: 70%;
  }

  .dealer,
  .player {
    height: 260px;
  }

  .dealer-hand,
  .player-hand {
    height: 250px;
    width: 80%;
  }

  .card-dd {
    left: 50px !important
  }

  .card:first-child { left: 0; }
  .card:nth-child(2) { left: 50px; }
  .card:nth-child(3) { left: 100px; }
  .card:nth-child(4) { left: 150px; }
  .card:nth-child(5) { left: 200px; }
  .card:nth-child(6) { left: 250px; }
  .card:nth-child(7) { left: 300px; }
  .card:nth-child(8) { left: 350px; }
  .card:nth-child(9) { left: 400px; }

}

@media screen and (min-width: 1600px) {

  html {
    font-size: 150%;
  }

  button {
    padding: 15px;
  }

  .container {
    max-width: 1400px;
  }

  .messages {
    height: 75px;
  }

  .dealer-hand,
  .player-hand {
    height: 300px;
    width: 60%;
  }

  .card-dd {
    left: 70px !important
  }

  .card:first-child { left: 0; }
  .card:nth-child(2) { left: 70px; }
  .card:nth-child(3) { left: 140px; }
  .card:nth-child(4) { left: 210px; }
  .card:nth-child(5) { left: 280px; }
  .card:nth-child(6) { left: 350px; }
  .card:nth-child(7) { left: 420px; }
  .card:nth-child(8) { left: 490px; }
  .card:nth-child(9) { left: 560px; }

  .action-wrap {
    width: 70%;
  }

}
