@import 'variables';

// =================
// UTILITY
// =================

.positive { color: $positive; }
.negative { color: $negative; }

.hide {
	display: none;
}

.hide-animation {
	opacity: 0;
}

.slide-out-animation {
	transform: translateY(-500%);
}